* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Science Gothic", sans-serif;
}
header {
    background-color: rgb(47, 32, 88);
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
}
h1 {
    font-size: 3rem;
    color: yellow;
    text-shadow: 8px 7px 2px black;
}
button {
    font-family: "Science Gothic", sans-serif;
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 1.1rem;
    background-color: black;
    color: yellow;
    border: blue solid 2px;
    padding: 5px;
}
main {
    position: relative;
    top: 80px;
    background: url("assets/230268028_c58d078a-856c-4aed-9ff9-0bf536e245f2.jpg") repeat;
    background-size: cover;
    display: flex;
    height: calc(100vh - 80px)
}
.side {
    width: 200px;
    position: relative;
    text-align: center;
}
input {
    font-family: "Science Gothic", sans-serif;
    width: 150px;
    font-size: 1.25rem;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.055);
    border: none;
    color: yellow;
}
input::placeholder {
    color: yellow;
}
.score {
    color: white;
    font-weight: bold;
    font-size: 8rem;
    position: absolute;
    bottom: 30%;
}
.score-O {
    left: 20%;
}
.score-X {
    right: 20%;
}
.grid-container {
    width: 1500px;
    height: auto;
    
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}
img {
    width: 200px;
}
.tile {
    background-color: tan;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: yellow 1px solid;
    /* transition: all 0.4s; */
}
.tile:hover {
    /* width: 125%;
    height: 125%;
    z-index: 1; */
    cursor: pointer;
}
.text {
    font-size: 180px;
    font-weight: bold;
    font-family: "Chokokutai", sans-serif;
}