* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Science Gothic", sans-serif;
    background: url("assets/230268028_c58d078a-856c-4aed-9ff9-0bf536e245f2.jpg") repeat;
    background-size: cover;
}
header {
    /* background-color: rgb(47, 32, 88); */
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
}
h1 {
    font-size: 3rem;
    color: yellow;
    text-shadow: 8px 7px 2px black;
}
button {
    font-family: "Science Gothic", sans-serif;
    
    font-size: 1.1rem;
    background-color: black;
    color: yellow;
    border: blue solid 2px;
    padding: 5px;
}
button:hover {
    cursor: pointer;
}
.reset {
    position: absolute;
    top: 15px;
    right: 15px;
}
main {
    position: relative;
    top: 80px;
    
    display: flex;
    height: calc(100vh - 80px)
}

.side {
    width: 200px;
    position: relative;
    text-align: center;
}
input {
    font-family: "Science Gothic", sans-serif;
    width: 150px;
    font-size: 1.25rem;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.055);
    border: none;
    color: yellow;
}
input::placeholder {
    color: yellow;
}
.score {
    color: white;
    font-weight: bold;
    font-size: 8rem;
    position: absolute;
    bottom: 30%;
}
.score-o {
    left: 20%;
}
.score-x {
    right: 20%;
}
.non-modal {
    position: absolute;
    left: 400px;
    top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    border: rgba(255, 0, 0, 0.658) 3px solid;
    background-color: rgba(255, 255, 255, 0.692);
    width: 1200px;
    text-align: center;
    z-index: 1000;
}
.end-screen {
    width: 800px;
    left: 350px;
}
.button-screen {
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 5;
    width: 1500px;
    height: auto;
    position: absolute;
    left: 200px;
    top: 80px;
}
.button-screen h1 {
    text-align: center;
    margin-top: 5%;
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.button-container button {
    font-size: 3.5rem;
    padding: 20px;
}
.grid-container {
    width: 1500px;
    height: auto;
    
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}
img {
    width: 200px;
}
.tile {
    background-color: tan;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: yellow 1px solid;
    font-size: 180px;
    font-weight: bold;
    font-family: "Chokokutai", sans-serif;
    /* transition: all 0.4s; */
}
.tile:hover {
    /* width: 125%;
    height: 125%;
    z-index: 1; */
    cursor: pointer;
}
